body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  top: 0;
  background-color: #f4f4f4;
  font-family: 'Times New Roman', Times, serif;
}

.counter {
  text-align: center;
  background: #fff;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.counter h1 {
  font-size: 32px;
  font-weight: 700;
}

.counterError {
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 0 0 rgb(0, 0, 0.1);
  font-weight: 400;
  margin-top: 20px;
}

.counterValue {
  font-size: 32px;
  font-weight: 700;
}

.btnContainter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin: 5px;
}

.incrementText button {
  background-color: #000;
  color: white;
  outline: none;
  border: none;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
}